.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}
.auth-page {
  max-width: 400px;
  width: 100%;   
  
  a {
    color: #ccc;
    transition: color .2s ease-in-out;
  }

  a:hover {
    color: #000;
  }

  .auth-form {

    &__input-wrapper {
      margin-bottom: 10px;

      input {
        width: 100%;
        border: 1px solid #ccc;
        height: 27px;
        font-size: 18px;
        line-height: 27px;
      }
    }

    &__button-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &-inner {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        & span {
          margin-left: 10px;
          color: red;
        }
      }

      button {
        display: flex;
        height: 27px;
        border: 1px solid #ccc;
        background-color: #fff;
        padding: 5px 10px;
        transition: border-color .2s ease-in-out;
      }

      button:hover {
        border-color: #000;
      }

      button.disabled {
        cursor: not-allowed;
        pointer-events: none;
        opacity: .5;
      }

      button.enabled {
        cursor: pointer;
        opacity: 1;
      }
    }
  } 
}