.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;

  .btn {
    padding: 5px 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    transition: .3s ease-in-out;
    cursor: pointer;
    text-decoration: none;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 1;
  }

  .btn-profile {
    margin-right: 10px;
  }

  .btn:hover {
    border-color: #000;
  }

  &__menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}